.we-input {
    margin-top: 0;
}

.we-input-lab {
    margin-top: 20px;
}

.we-input-lab span {
    margin-right: 15px;
    font-size: 18px;
    color: red;
}

.we-login-btn {
    margin-top: 40px;
    width: 300px;
}