.we-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.we-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.we-bg {
    background-image: url("../assets/body.8aa7c4a6.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding-top: 80px;
}

.we-input {
    display: block;
    width: 300px;
    margin-top: 20px;
}